:root {
  --bg: #f6f4f1;
  --card-bg: #ffffff;
  --text-main: #1c1c1c;
  --text-muted: #8a8a8a;
  --accent: #e10600;

  --radius: 16px;
  --shadow: 0 20px 40px rgba(0,0,0,0.08);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  padding: 0;
}
